

<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.name, user %>
         
          <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", :title => "Delete #{user.name}" %>
        

    </li>
  <% end %>
</ul>
<br />
<%= will_paginate %>
<br />

<%= link_to 'New User', new_user_path %>
